<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.CollegeInfoMapper">



    <!--select开头 查询   有返回值-->
    <select id="queryCollege" resultType="com.entity.CollegeInfo">
        select id id, user_name userName, pass_wd passWord,`role` role,real_name realName
        from user_login
        where user_name = #{userName} AND pass_wd=#{passWord} 
    </select>



</mapper>