<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.NewsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.entity.NewsInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="content" property="content" jdbcType="LONGVARBINARY" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from news_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.entity.NewsInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into news_info (title, status, content
      )
    values (#{title,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{content,jdbcType=LONGVARBINARY}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.entity.NewsInfo" >
    update news_info
    set title = #{title,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      content = #{content,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, title, status, content
    from news_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select id, title, status, content
    from news_info
  </select>
</mapper>